html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
  height: 100%;
}
body {
	width: 100%;
	font-family: 'Montserrat';
	line-height: 1.4;
    letter-spacing: -1px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Dosis Font */
@font-face {
	font-family: "Dosis";
	src: url("./assets/fonts/Dosis/Dosis-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
  }
  @font-face {
	font-family: "Dosis";
	src: url("./assets/fonts/Dosis/Dosis-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
  }
  @font-face {
	font-family: "Dosis";
	src: url("./assets/fonts/Dosis/Dosis-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
  }
  @font-face {
	font-family: "Dosis";
	src: url("./assets/fonts/Dosis/Dosis-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
  }
  @font-face {
	font-family: "Dosis";
	src: url("./assets/fonts/Dosis/Dosis-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
  }
  @font-face {
	font-family: "Dosis";
	src: url("./assets/fonts/Dosis/Dosis-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
  }
  @font-face {
	font-family: "Dosis";
	src: url("./assets/fonts/Dosis/Dosis-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
  }

  /* Montserrat Font */
@font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
  }
  @font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
  }
  @font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
  }
  @font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
  }
  @font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
  }
  @font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
  }
  @font-face {
	font-family: "Montserrat";
	src: url("./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
  }